.DS_Store
node_modules
.idea/

# Vite
/dist/

# Generated
/app/routeTree.gen.ts

/.cache
/public/img
.env

prisma/*.db

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
